&spi3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&spi3_gpio0>;
	cs-gpios = <&gpio 0 1>;

	sx1278lora: sx1278-lora@0 {
		compatible = "sx1278-lora,nam";
		reg = <0>;
	
		spi-max-frequency = <10000000>;
		dio0-gpios = <&gpio 5 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio 6 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};
&i2c5 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&i2c5_gpio12>;

        oled@3c {
                compatible = "ssd1306-oled,nam";
                reg = <0x3c>;
                status = "okay";
        };
};
